NS App/bin/Publish/appsettings.Development.json
NS App/bin/Publish/appsettings.json
NS App/bin/Publish/Azure.Core.dll
NS App/bin/Publish/Azure.Identity.dll
NS App/bin/Publish/Azure.Security.KeyVault.Certificates.dll
NS App/bin/Publish/Azure.Security.KeyVault.Secrets.dll
NS App/bin/Publish/Azure.Storage.Blobs.dll
NS App/bin/Publish/Azure.Storage.Common.dll
NS App/bin/Publish/Azure.Storage.Files.Shares.dll
NS App/bin/Publish/Azure.Storage.Queues.dll
NS App/bin/Publish/Cosmos.CRTCompat.dll
NS App/bin/Publish/Microsoft.AspNetCore.Authentication.JwtBearer.dll
NS App/bin/Publish/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
NS App/bin/Publish/Microsoft.Azure.Cosmos.Client.dll
NS App/bin/Publish/Microsoft.Azure.Cosmos.Core.dll
NS App/bin/Publish/Microsoft.Azure.Cosmos.Direct.dll
NS App/bin/Publish/Microsoft.Azure.Cosmos.Serialization.HybridRow.dll
NS App/bin/Publish/Microsoft.Azure.Cosmos.ServiceInterop.dll
NS App/bin/Publish/Microsoft.Bcl.AsyncInterfaces.dll
NS App/bin/Publish/Microsoft.Bcl.HashCode.dll
NS App/bin/Publish/Microsoft.Extensions.Azure.dll
NS App/bin/Publish/Microsoft.Identity.Client.dll
NS App/bin/Publish/Microsoft.Identity.Client.Extensions.Msal.dll
NS App/bin/Publish/Microsoft.Identity.Web.dll
NS App/bin/Publish/Microsoft.Identity.Web.UI.dll
NS App/bin/Publish/Microsoft.Identity.Web.UI.Views.dll
NS App/bin/Publish/Microsoft.IdentityModel.JsonWebTokens.dll
NS App/bin/Publish/Microsoft.IdentityModel.Logging.dll
NS App/bin/Publish/Microsoft.IdentityModel.Protocols.dll
NS App/bin/Publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
NS App/bin/Publish/Microsoft.IdentityModel.Tokens.dll
NS App/bin/Publish/Microsoft.Win32.SystemEvents.dll
NS App/bin/Publish/Microsoft.WindowsAzure.Storage.dll
NS App/bin/Publish/msvcp140.dll
NS App/bin/Publish/Newtonsoft.Json.dll
NS App/bin/Publish/NS App.deps.json
NS App/bin/Publish/NS App.dll
NS App/bin/Publish/NS App.exe
NS App/bin/Publish/NS App.pdb
NS App/bin/Publish/NS App.runtimeconfig.json
NS App/bin/Publish/System.Configuration.ConfigurationManager.dll
NS App/bin/Publish/System.Drawing.Common.dll
NS App/bin/Publish/System.IdentityModel.Tokens.Jwt.dll
NS App/bin/Publish/System.Memory.Data.dll
NS App/bin/Publish/System.Security.Cryptography.ProtectedData.dll
NS App/bin/Publish/System.Security.Permissions.dll
NS App/bin/Publish/System.Windows.Extensions.dll
NS App/bin/Publish/vcruntime140_1.dll
NS App/bin/Publish/vcruntime140.dll
NS App/bin/Publish/web.config
NS App/bin/Publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
NS App/bin/Publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
NS App/bin/Publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
NS App/bin/Publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
NS App/bin/Publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
NS App/bin/Publish/runtimes/win-x64/native/Cosmos.CRTCompat.dll
NS App/bin/Publish/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
NS App/bin/Publish/runtimes/win-x64/native/msvcp140.dll
NS App/bin/Publish/runtimes/win-x64/native/vcruntime140_1.dll
NS App/bin/Publish/runtimes/win-x64/native/vcruntime140.dll
NS App/bin/Publish/wwwroot/favicon.ico
NS App/bin/Publish/wwwroot/NS App.styles.css
NS App/bin/Publish/wwwroot/css/site.css
NS App/bin/Publish/wwwroot/js/site.js
NS App/bin/Publish/wwwroot/lib/bootstrap/LICENSE
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
NS App/bin/Publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
NS App/bin/Publish/wwwroot/lib/jquery/LICENSE.txt
NS App/bin/Publish/wwwroot/lib/jquery/dist/jquery.js
NS App/bin/Publish/wwwroot/lib/jquery/dist/jquery.min.js
NS App/bin/Publish/wwwroot/lib/jquery/dist/jquery.min.map
NS App/bin/Publish/wwwroot/lib/jquery-validation/LICENSE.md
NS App/bin/Publish/wwwroot/lib/jquery-validation/dist/additional-methods.js
NS App/bin/Publish/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
NS App/bin/Publish/wwwroot/lib/jquery-validation/dist/jquery.validate.js
NS App/bin/Publish/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
NS App/bin/Publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
NS App/bin/Publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
NS App/bin/Publish/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
NS App/.vscode/launch.json
NS App/.vscode/settings.json
NS App/.vscode/tasks.json
.vscode/launch.json
.vscode/tasks.json
